<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%highlight([%-5level]) %cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) : %green([%logger:%line]) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="stash">
    <destination>127.0.0.1:5000</destination>

    <!-- encoder is required -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="stash"/>
  </root>

</configuration>